@import "../index.css";

.LoadingTodo-container {
  background-color: var(--just-white);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 24px;

  opacity: 50%;
}

.LoadingTodo-text {
  font-size: 2rem;

  margin: 0px 12px;
  padding: 16px;

  display: flex;
  align-items: center;

  width: calc(100% - 120px);
  height: 64px;

  border: 2px solid var(--black);
  border-radius: 10px;
}
